{% extends "ProyectoWebApp/base.html" %}
{% load static %}

{% block content %}

<div class="container">

    <div style="float: right;">
        {% if request.user.is_authenticated %}

            {% include "carro/widget.html" %}

        {% else %}

            <div class="alert alert-danger">Debes loguearte primero</div>

        {% endif %}
    </div>

    <div class="row">
{% for prod in productos %}
        <div class="col-md-3">

            <div class="card" style="margin: 5px 5px;">

                <img src="{{prod.imagen.url}}" class="card-img-top">

                <div class="card-body" style="text-align: center;">
                    <h6 class="card-title">{{prod.nombre}}</h6>
                    <p class="card-text">{{prod.precio}} ARS</p>
                </div>

                <div>
                    <a href="{% url 'carro:agregar' prod.id %}" class="btn btn-success">Agregar al carrito</a>
                </div>

            </div>
        </div>
{% endfor %}

    </div>
</div>

{% endblock %}


